<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收益记录</title>

    <!-- Import style -->
    <link rel="stylesheet" href="/static/element-plus/element-plus@2.2.17.css"/>

    <!-- Import Vue 3 -->
    <script src="/static/element-plus/vue@3.2.39.prod.js"></script>
    <!-- Import component library -->
    <script src="/static/element-plus/element-plus@2.2.17.full.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/@element-plus/icons-vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>

</head>
<body>

<div id="app">
    <el-affix :position="top" style="display: flex;justify-content: center">
        <a href="/page/workers" style="text-decoration: none">
            <el-button size="large" :type="pathname=='/page/workers' ? 'primary' :'default'" style="width: 200px">监控面板
            </el-button>
        </a>
        <a href="/page/income" style="text-decoration: none">
            <el-button size="large" :type="pathname=='/page/income' ? 'primary' :'default'" style="width: 200px">收益记录
            </el-button>
        </a>
    </el-affix>
    <div style="padding: 20px;width: 80%;margin: auto">
        <el-select v-model="workerNames"
                   multiple
                   size="large"
                   filterable
                   style="width: 100%;"
                   placeholder="请选择worker名称"
                   @change="getData">
            <el-option
                    v-for="item in workerNamesOption"
                    :key="item"
                    :label="item"
                    :value="item"
            />
            <template #append>
                <el-button icon="Search" @click="getData"/>
            </template>
        </el-select>
    </div>


    <el-card style="height: calc(100% - 120px);overflow-y: scroll;">
        <div style="display: flex;justify-content: flex-start;flex-wrap: wrap">
            <div v-for="workerName in workerNames" :id="workerName+'Echart'" style="height: 300px;width: 500px"></div>
        </div>
    </el-card>

</div>

</body>
<script>
const app = Vue.createApp({
    data() {
        return {
            pathname: window.location.pathname,
            workerNames: [],
            workerNamesOption: JSON.parse('{[.workerNames]}')
        }
    },
    methods: {
        getData() {
            const loading = ElementPlus.ElLoading.service()
            axios.post('/api/getWorkerIncome', { workerNames: this.workerNames }).then(res => {
                loading.close()
                const colors = ['#5470c6', '#91cc75', '#fac858', '#ee6666', '#73c0de', '#3ba272', '#fc8452', '#9a60b4', '#ea7ccc']
                Object.keys(res.data).forEach((workerName, index) => {
                    this.renderEchart(workerName, res.data[workerName], colors[index % 10])
                })
            }).catch(err => {
                loading.close()
                ElementPlus.ElMessage.error(err.response ? err.response.data : err.message)
            })
        },
        renderEchart(workerName, data, color) {
            const chartDom = document.getElementById(workerName + 'Echart')
            const myChart = echarts.init(chartDom)
            let option = {
                title: {
                    text: workerName
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    type: 'category',
                    data: Object.keys(data)
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: Object.values(data),
                        type: 'line',
                        smooth: true,
                    }
                ],
                color: color
            }
            myChart.setOption(option)
        }
    },
    mounted() {
    }
})

for ([name, comp] of Object.entries(ElementPlusIconsVue)) {
    app.component(name, comp);
}
app.use(ElementPlus).mount("#app")
</script>
<style>
    html, body, #app {
        height: calc(100% - 8px);
    }
</style>
</html>